VITE_INFURA_RPC='https://rpc.test.btcs.network/'
VITE_WSS_RPC_URL=' wss://wstest.meter.io'
VITE_PROJECT_ID = "" 
VITE_GREENTOKEN_ADDRESS = ""
VITE_GREENEARN_ADDRESS = ""
VITE_GREENMINT_ADDRESS = ""
VITE_PINATA_API_KEY = ''
VITE_PINATA_API_SECRET = ""
VITE_PINATA_JWT = ""
VITE_GATEWAY_URL = ""
